@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/*font-family: 'Libre Baskerville', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

/* font-family: 'Nunito', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
    color: #000;
}

.c:hover {
    color: #687eff;
    transform: translateY(-.3vh);

}

.primary-btn {
    background-color: #687eff;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    text-transform: capitalize;

}

.container {
    max-width: 1180px;
    margin-inline: auto;
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url(img/wallhaven-kwl6vq.jpg);
    /* background-color: #fff; */
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    font-family: 'Libre Baskerville', serif;
    display: flex;
    height: 13vh;
    background-color: #1313138b;
    border-radius: 0px 0px 20px 20px;
    justify-content: space-between;
    align-items: center;

}

header a {
    color: #4361ee;
    font-size: 22px;
    margin-right: .5vw;
    padding-right: 2vw;
}

header img {
    width: 5vw;
    height: 5vw;
    border-radius: 50px;
    margin-right: 3vw;
}

.down {
    font-size: 25px;
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    border: none;
    border-radius: 50px;
    margin-right: 3vw;
}

.down-slide {
    display: none;
    position: absolute;
    top: 12vh;
    left: 78vw;
    width: 15vw;
    height: 50vh;
    background-color: #949cb0;
    border: solid #ffffff;
    border-radius: 8px;
    z-index: 15;
}

.down-slide p {
    color: #abbcda;
    margin-top: 2vh;
    margin-left: 4vw;
    font-size: 24px;

}

.down-slide img {
    margin-top: 2vh;
    margin-left: 3.7vw;
    width: 7vw;
    height: 7vw;
}

.b1 {
    margin-top: 8vh;
}

.b2 {
    margin-top: 1vh;
}

.down-slide button {
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #687eff;
    padding: 1vh 1vw;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topbox {
    display: flex;
    align-items: center;
    margin-top: 4vh;
    width: 85vw;
    height: 18vh;
    border-radius: 10px;
    border: 2px dashed #8d99aea2;
    background-color: #00000092;
    color: #caf0f8;
}

.left label {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 48vw;
    width: 13vw;
    height: 4vh;
    background-color: #2f3d5477;
    border: 1px solid #4361ee;
    border-radius: 6px;
    z-index: 16;
    color: #4361ee;

}

.file {
    opacity: 0;
    margin-left: 48vw;
    width: 13vw;
    height: 4vh;
    z-index: 17;
}

.left button {
    margin-left: 5vw;
    padding: .5vh 1vw;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    background-color: #2f3d5477;
    border: 1px solid #4361ee;
    border-radius: 6px;
    color: #4361ee;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px dashed #8d99aea2;
    background-color: #00000092;
    margin-top: 2vh;
    width: 85vw;
    height: 60vh;

}

.heading {
    width: 85vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right h2 {
    color: #fff;
    /* marg */
    margin-left: 1vw;

}

.filecount {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    margin-left: .5vw;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.uploaded {
    overflow: scroll;
    display: flex;
    width: 84vw;
    height: 42vh;
}

#fileList {
    display: flex;
    align-items: flex-start;
    list-style: none;
    flex-direction: column;

}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
    color: #000;
    width: 83vw;
    height: 5vh;
    margin-top: 1vh;
    border: .2px solid #8d99ae;
    border-radius: 6px;
    padding-left: .5vw;
    /* color:#4361ee; */
}

.emptydiv{
    display: flex;

}
.download {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 4vh;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 4vh;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.show {
    font-size: 22px;
    margin-top: 2vh;
    cursor: pointer;
    background-color: #2f3d5477;
    border: 1px solid #4361ee;
    border-radius: 6px;
    padding: 2vh 4vw;
    color: #4361ee;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #0000007b;
    width: 18vw;
    height: 9vh;
    border-radius: 20px 20px 0px 0px;
    left: 41vw;
}

.socials {
    display: flex;
    font-size: 35px;
    margin-top: 2vh;
    justify-content: space-between;
}

.social {
    padding-top: .5vh;
}

.social:hover {
    transform: translateY(-1vh);
}

.instagram {
    color: #f72585;
}

.linkedin {
    color: #0353a4;
}

.discord {
    color: #3f37c9;
}

.github {
    color: #fff;
}
